.characters-page-container {
  padding-top: 15vh;

  &__title {
    font-size: 42px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
